html {
    --cor1: #f8f8f8;
    --cor2: #ffffff;
    --cor3: #444;
    --cor4: #888;
    --linhaAzul: #009EE2;
    --corSigla: #999;
    --corLinksSemestres: #009EE2;
    --desloc: 300px;

    /* NORD THEME VARIABLES - https://www.nordtheme.com/docs/colors-and-palettes */
    /* polar night */
    /*--nord0: #2e3440;
    --nord1: #b1b7c4;
    --nord2: #434c5e;
    --nord3: #4c566a;
    */
    /* snow storm */
    /*--nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    */
    /* forst */
    /*--nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    */
    /* aurora */
    /*--nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    */
}

/*Body*/

body {
    margin: auto;
    text-decoration: none;
    font-weight: normal;
    background-color: var(--cor1);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    max-width: 2000px;
    min-width: 2000px;
  }


/*Header*/
header {
    padding: 1px var(--desloc);
    min-width: 1000px;
    max-width: 1130px;
    margin:auto;
}

/*Main*/
main {
    text-decoration: none;
    padding: 3rem var(--desloc);
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    min-width: 1370px;
    max-width: 1370px;
}


/*Main Article*/
main article{
    background-color: var(--cor2);
    box-shadow: rgba(11, 78, 211, 0.2) 0.5px 0.5px 0.5px 0.5px;
    /*A distância vertical tem de ser maior*/
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin: 0.5rem 20px;
    text-align: justify;
    border-top: 1px solid var(--linhaAzul);
    min-width: 840px;
    max-width: 840px;
}

main article div{
    font-weight: normal;
    margin: auto;
}

main article h6 {
    font-size: 14px;
}

main article div * {
    font-weight: normal;
}

.Grande {
    font-weight: normal;
    font-size: 36px;
}

#AL {
    color: var(--corSigla);
}

main article div h6 li {
    list-style-type: none;
    padding: 5px 0;
}

main article div h6 li a {
    text-decoration: none;
    color: var(--corLinksSemestres);
}

/*Main Aside*/
main aside {
    list-style-type: none;    
    padding: 5rem 0;
    min-width: 20rem;
}

main aside li {
    padding: 0.5rem;
}

main aside li a {
    color: var(--cor3);
    text-decoration: none;
    font-size: 15px;
}

/*Footer*/
footer {
    font-size: 10px;
}

footer hr {
    min-width: 1170px;
    max-width: 1170px;    
    color: var(--corSigla);
}

footer li {
    padding: 10px 0;
    display: flex;
    text-align: center;
}

footer li img {
    min-width: 1000px;
}

footer li h2 {
    padding: 0 380px;
    font-weight: normal;
    color: var(--cor4);
}